
<div class="ml-3">
	<h3 style="color: @ColorValue">Component2</h3>
	<p>Count: @CounterValue</p>
	<p>Color: @ColorValue</p>
</div>

@code {
	[CascadingParameter(Name = "Counter")]
	public int CounterValue { get; set; }

	[CascadingParameter(Name = "TitileColor")]
	public string ColorValue { get; set; }

}
