<h3>Component</h3>

<button class="btn" @onclick="(()=> ClickMe())">Click Me</button>

<br/>
@BodyTemplate

<hr/>
<br/>
<p>COunter Value: @Counter</p>

@code {

	[Parameter]
	public RenderFragment BodyTemplate { get; set; }

	[Parameter]
	public int Counter { get; set; }


	protected override void OnAfterRender(bool firstRender)
	{
		base.OnAfterRender(firstRender);
		Console.WriteLine($"Child Component - OnAfterRender at {DateTime.Now.ToString("hh:MM:ss.fff")}");
	}

	private void ClickMe()
	{

	}

	public void Refresh()
	{
		//this.StateHasChanged();
	}

}
