@page "/sales"
@page "/salesperson"



<h3>SalesComponent</h3>

This is the sales component!
<br />
<br />
<DateComponent></DateComponent>
<br />
<br />
<Counter></Counter>
<br/>
<br/>
<TitleComponent Department="Sales Entry"></TitleComponent>


@code {


}
